html,body{
	background: black;
	color: white;
	height: 100%;
}
#ui{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
#playerbox{
	background: #111;
	flex: 5;
	max-width: 1280px;
	height: 100%;
	margin: auto;
	text-align: center;
	line-height: 426px;
	font-family: monospace;
	font-size: 12pt;
	position: relative;
	overflow: hidden;
	border-right: #333 solid 1px;
}
#player{
	width: 100%;
	height: 100%;
}
#nicochatbox{
	position: absolute;
	top: 0.5em; left: 0;
	line-height: 1em;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#nicochat{
	width: 100%;
	height: 100%;
	position: relative;
	text-shadow: black 0px 0px 5px;
	font-size: 14pt;
}
.nico{
	position: absolute;
	left: 852px;
	display: inline-block;
	word-break: normal;
	white-space: nowrap;
	height: 1em;
}
#chatbox{
	flex: 2;
	font-size: 10pt;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
}
#chatmsg{
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	word-break: break-word;
	padding: 0;
	margin:0;
}
#chatmsg .user{
	float: left;
}
#chatbox li{
	list-style: none;
	margin-bottom: 10px;
}
#chatbox img{
	max-width: 32px;
	max-height: 32px;
	vertical-align: middle;
}
#onlineuser{
	max-height: 200px;
	overflow-x: visible !important;
	overflow-y: auto;
	margin: 0;
	list-style: none;
	padding: 10px;
	border-top: #333 solid 1px;
}
.user{
	display: block;
	color: #eeee22;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
}
#inputrow .user{
	max-width: 140px;
	text-overflow:ellipsis;
	overflow: hidden;
	margin-right: 10px;
}
.meta{
	color: #aaa;
	font-size: 8pt;
	margin-left: 10px;
}
button{
	background: #222;
	margin-top: 2px;
	font-family: verdana;
	border: none;
	color: #00ccff;
}
#inputrow{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}
#chatbox input{
	flex: 1;
	border: none;
	background: transparent;
	border-bottom: #00ccff solid 2px;
	color: white;
}
#chatbox input:focus{
	outline: none;
}
.body{
	padding-left: 140px;
}
.body:after{
	display: block;
	content: "";
	clear: both;
}
video{
	width: 100%;
	height: 100%;
	display: block;
}
#lagmeter{
	color: #aaa;
	margin-left: 10px;
	cursor: pointer;
	font-size: 8pt;
}
#announce{
	background: #222;
	padding: 8px;
	display: none;
}
#onlineuser li{
	margin-bottom: 10px;
}
#oz{
	position: absolute;
	top: 0; left: 0;
	pointer-events: none;
}
.ozbox{
	position: absolute;
	padding: 30px 20px 30px 20px;
	border-radius: 999px;
	background: rgba(255,255,255,0.8);
	border: rgba(255,255,255,0.95) solid 2px;
	display: inline-block;
	font-family: verdana, sans-serif;
	-webkit-transform: rotateY(90deg);
	-webkit-transition: -webkit-transform ease-in 250ms;
	text-shadow: white 0px 0px 10px;
	word-break: normal;
	white-space: nowrap;
	min-width: 60px;
	text-align: center;
	color: black;
}
#control{
	display: none;
}
.master #control{
	display: block;
	border-bottom: #333 solid 1px;
	padding: 5px;
}
#settings{
	border-top: #333 solid 1px;
	padding: 5px;	
}

.vjs-progress-control{
	pointer-events: none;
}
.master .vjs-progress-control{
	pointer-events: auto;
}
.vjs-tech{
	pointer-events: none;
}